<!DOCTYPE html>
<html>
   <head>
      <title>Clients | Projects</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/assets/styles/manager_viewTasks.css">
   </head>
   <body>
      <div class="container" style="margin-top: 5%; width: 100%;">
            <!-- <h3 style="margin-top: 5%; margin-bottom: 2%;" class="font-weight-normal">Tasks</h3> -->
            <div class="row" style="margin-top: 5%; width: 100%; margin-bottom: 5%;" id="task">
           <table class="table table-bordered">
               <tbody>
                  <% counter = 1 %>
                 <input type="number" id="in" style="display:none" value="<%= Project.Tasks.length %>">
                 <input type="text" id="TaskName" style="display:none" value="<%= Project.ProjectName %>">
                 <input type="text" id="User" style="display:none" value="<%= Project.Client %>">
               <form>
                <% for(var count = 0;count< Project.Tasks.length;count++){%>
                   <tr>
                      <% if(count===0){%>
                        <td rowspan="6" style="text-align:center; width: 50%; vertical-align: middle; font-weight: bolder; font-size: 2rem;"><%= Project.ProjectName %></td>
                       <%}%>
                       <td><input  type="text" class="form-control form-control-sm" id="<%= count %>" placeholder="<%= Project.Tasks[count] %>"></td>
                   </tr>
                <%}%>
                <input type="submit" id="Submit" style="display:none">
               <form>
               </form>
               </tbody>
             </table>
             <div style="width: 100%; margin-top: 2%;">
                    <center>
                        <button type="button" class="btn btn-danger" style="width: 12%;" id="cancel">Cancel</button>
                        <button type="button" class="btn btn-info" style="width: 12%;" id="ok">OK</button>
                    </center>
              </div>
        </div>
      </div>
   </body>
   <script>
         $(document).ready(function(){
            var count = $('#in').val()
            $('#ok').click(function(){
               for(var x = 0;x<3;x++){
                  $("#"+x).prop('required',true);
               }
               var newTasks = [];
               for(var i = 0;i < count; i++){
                  if($("#"+i).val().length > 0){
                     newTasks.push($("#"+i).val());
                     //console.log(Tasks)
                  }
                  // console.log($(`#${count-i}`).val())
                 // newTasks.push($(`#${count-i}`).val());
               }
               console.log(newTasks)
               if(newTasks.length < 3){
                  $('#Submit').click()
               }else{
                  var toEdit = {
                     TaskName:$('#TaskName').val(),
                     ClientName:$('#User').val(),
                     Tasks:newTasks
                  }
                 $.ajax({
                    method:"POST",
                    url:"/updateTasks",
                    data:toEdit,
                    success:function(dat){
                       alert(dat)
                      
                    }
                 })
                 top.location.href = '/ClientDashboard';
               }
            });
            $('#cancel').click(function(){
               top.location.href = '/ClientDashboard';
            })
         })
         </script>
</html>